.recipe_card_overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  height: 30%;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
}

.recipe_card_title {
  color: var(--color-dark);
  font-size: 1.9rem;
  text-align: center;
}
