  .recipe_card_overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    height: 25%;
    color: var(--color-light);
    font-weight: 500;
  }


  .recipe_card_title {
    color: var(--color-dark);
    font-size: 2rem;
    text-align: center;
  }
