.recipe_card_overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 50%;
  color: white;
  font-size: 1.7rem;
}

.recipe_card_title {
  color: var(--color-dark);
  font-size: 1.9rem;
  text-align: center;
}
