.navbar-bar {
    border-bottom: 1px solid var(--color-primary);
}

.menu-item {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-grey-2);
    transition: color 0.5s;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .brand-icon {
    font-size: 3.5rem;
    color: var(--color-primary-dark);
    vertical-align: text-bottom;
  }
  
  .special-font_brand {
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
  }