.custom-button {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.2s;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0.2rem;
  border-radius: 5%;
  color: var(--color-light);
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
}

.custom-button:hover {
  transform: translateY(-2px);
  color: var(--color-dark);
  transition: 0.3s all;
}

.submit-button:focus {
  outline: none;
}

.custom-tooltip {
  font-size: 1.5rem;
}

.custom-tooltip_inner {
  background-color: var(--color-gray-1);
}
