:root {
  --color-primary: rgb(255, 175, 42);
  --color-primary-dark: rgb(246, 154, 0);
  --color-primary-light: rgba(255, 175, 42, 0.5);

  --color-light: rgb(231, 243, 245);

  --color-dark: #000000cc;
  --color-gray-1: #333333;
  --color-gray-2: #535151;
  --color-gray-3: #b6b5b5;
  --color-gray-light: rgba(255, 255, 255, 0.9);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-primary: 0 1rem 5rem #ffaf2a;
  --shadow-gray: 0 0.2rem 6rem #333;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem=10px 10px/16px(default)=0.625 = 62.5% */
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
}

.main-container {
  background: linear-gradient(
      rgba(226, 161, 78, 0),
      rgba(226, 161, 78, 0.3),
      rgba(255, 255, 255, 1)
    ),
    url(./images/home.jpg) no-repeat top/ cover;
  height: 90vh;
}

.text-small-italic {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  vertical-align: middle;
}

.special-font {
  font-family: "Kaushan Script", cursive;
  color: var(--color-primary);
}

.search-container {
  max-width: 80%;
}

.home_banner {
  text-align: center;
  color: var(--color-gray-light);
  line-height: 150%;
  font-style: italic;
}

.recipe-card {
  transition: all 0.4s;
  background: white;
}

.recipe-card:hover {
  box-shadow: var(--shadow-dark);
  transform: translateY(-2px);
  transition: all 0.4s;
}

.unsplash-text a {
  color: var(--color-primary);
}

.loader-bg {
  height: 100vh;
  background: url(./images/preloader.jpg) fixed no-repeat center / cover;
  padding-bottom: 10rem;
  animation-name: anim;
  animation-duration: 2s;
}

.preloader-banner {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

@keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.preloader-text__2 {
  font-size: 2rem;
  font-weight: 350;
}

.preloader-font {
  font-size: 7rem;
  line-height: 10rem;
  letter-spacing: 0.5rem;
}

.preloader-icon {
  font-size: 6rem;
  color: var(--color-primary);
  vertical-align: middle;
  padding-bottom: 1rem;
}

.loader_container {
  padding-right: 10rem;
}
