.search-form_container {
  max-width: 100%;
  box-shadow: var(--shadow-dark);
  border-radius: 0.5rem;
  background-color: var(--color-gray-light);
}

.search-form_input {
  font-size: 1.5rem;
}

.quickmenu-item_title {
  font-size: 1.7rem;
  text-align: center;
  color: var(--color-dark);
}

.quickmenu_img {
  max-width: 15rem;
}

.quickmenu-img_overlay {
  cursor: pointer;
}

.quickmenu-img_overlay:hover img {
  background: var(--color-primary);
}
